# Virtual environments
venv/
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# OS junk
.DS_Store

# Jupyter/IPython junk
.ipynb_checkpoints

# Streamlit logs
.streamlit/

# VS Code settings
.vscode/